llama_index
openai
pydantic
PyYAML
llama-index-readers-wikipedia
wikipedia
livekit-agents
livekit-plugins-deepgram
livekit-plugins-cartesia
livekit-plugins-silero
python-dotenv
livekit-plugins-llama-index
